<%- include('../layouts/page') %>
<%- include('../layouts/menuTop') %>

<div class="row h-100">
  <%- include('../layouts/menu') %>
  <div class="col-sm-10">
    <div class="container-fluid border mt-4 h-100 p-3">
      <div class="row mb-3">
        <div class="col-sm-12 text-center">
          <h1 class="text-center">Create Task</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 m-auto border">
          <div class="row mt-3">
            <a href="javascript:history.back()" class="ml-3">
              <i class="fa fa-chevron-left icon-btn"></i>
            </a>
          </div>
          <form action="/tasks/create" method="POST">
            <input type="hidden" name="id_user_fk" value="<%= user.id %>">
            <div class="form-group row mt-4 ml-3">
              <div class="label-float-forms">
                <input type="text" name="title" id="title" placeholder=" ">
                <label>Title</label>
              </div>
            </div>
            <div class="form-group row mt-3 ml-3">
              <div class="label-float-forms">
                <input type="text" name="description" id="description" placeholder=" ">
                <label>Description</label>
              </div>
            </div>
            <div class="form-group row mt-3 ml-3">
              <div class="label-float-forms">
                <textarea name="notes" id="notes" cols="30" rows="3" placeholder=" " ></textarea>
                <label>Notes</label>
              </div>
            </div>
            <div class="form-group row mt-3 ml-3">
              <div class="label-float-forms">
                <input type="date" name="delivery_date" id="delivery_date" placeholder=" ">
                <label>Delivery Date</label>
              </div>
            </div>
            <div class="form-group row mt-3 ml-3">
              <div class="label-float-forms">
                <% if (projects.length > 0) { %>
                  <select name="id_project_fk" id="project" placeholder=" ">
                    <option value="">Select project this task</option>
                    <option value="">No project</option>
                    <% projects.forEach(project => { %>
                      <option value="<%= project.id %>"><%= project.title %></option>
                    <% }) %>
                  </select>
                <% } else { %>
                    <option value="">No project</option>
                <% } %>
                  <label>Project</label>
                </div>
              </div>
              <div class="form-row mt-4">
                <div class="form-group col-sm-12">
                  <button type="submit" class="btn btn-block btn-primary" id="btn-login">
                    Save <i class="fa fa-check ml-2"></i>
                  </button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
